body {
    background-image: url(./img/stars-1845140.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2vw;
    color: rgba(152, 225, 198, 0.667);
    .trello__header-wrapper {
        margin: auto;
        margin-top: 2vh;
        width: 80%;
        height: 10%;
        background-color: rgb(246, 246, 246, 0.1);
        border-radius: 1vh;
        border: solid 1px rgba(255, 255, 255, 0.3);
        .trello__header {
            display: flex;
            justify-content: space-between;
            .trello__logo {
                font-size: 5vh;
                padding-left: 1vw;
                width: 8vw;
            }
            .trello__time {
                display: flex;
                justify-content: end;
                width: 9vw;
                font-size: 4vh;
                padding-top: 0.5vw;
                padding-right: 1vw;
            }
        }
    }
    .trello__main-wrapper{
        margin: 3vh auto;
        display: flex;
        justify-content: space-between;
        width: 80%;
        height: 80%;
        .trello__main-todo,
        .trello__progress,
        .trello__done {
            background-color: rgb(246, 246, 246, 0.2);
            border: solid 1px rgba(255, 255, 255, 0.3);
            border-radius: 1vh;
            width: 31%;
            height: 84vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .trello__todo-header,
            .trello__progress-header,
            .trello__done-header{
                display: flex;
                justify-content: space-between;
                border-top-left-radius: 1vh;
                border-top-right-radius: 1vh;
                font-size: 1.5vw;
                p {
                    width: 14vw;
                    margin: 0;
                    padding: 1vh 1vw;
                }
                .todo-counter,
                .progress-counter,
                .done-counter {
                    padding: 1vh 1vw;
                }
            }
            button {
                background-color: rgb(246, 246, 246, 0.2);
                border: solid 1px rgba(255, 255, 255, 0.3);
                border-bottom-left-radius: 1vh;
                border-bottom-right-radius: 1vh;
                height: 5vh;
            }
            button:hover {
                box-shadow: 0px 0px 15px 0px;
                transition: 0.2s;
            }
            button:active {
                box-shadow: inset  0px 0px 15px 0px;
                transition: 0.2s;
            }
        }
        .trello__main-todo {
            color: rgb(74, 171, 82);
            background-color: rgba(96, 250, 111, 0.1);
            border: solid 1px rgba(96, 250, 111, 0.2);
            .trello__todo-header,
            button {
                background-color: rgba(96, 250, 111, 0.1);
                border: solid 1px rgba(96, 250, 111, 0.2);
                color: rgb(74, 171, 82);
                font-size: 1.5vw;
            }
        }
        .trello__progress {
            color: rgb(162, 159, 159);
            background-color: rgb(246, 246, 246, 0.1);
            border: solid 1px rgba(255, 255, 255, 0.2);
            .trello__progress-header {
                background-color: rgb(246, 246, 246, 0.05);
                border: solid 1px rgba(255, 255, 255, 0.2);
            }
        }
        .trello__done {
            color: rgb(52, 52, 234);
            background-color: rgba(74, 64, 219, 0.1);
            border: solid 1px rgba(80, 154, 223, 0.6);
            .trello__done-header,
            button {
                background-color: rgba(74, 64, 219, 0.2);
                border: solid 1px rgba(80, 154, 223, 0.6);
                color: rgb(52, 52, 234);
                font-size: 1.5vw;
            }
        }
    }
    .wrapper__add-todo-modale {
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(1px);
        margin: auto;
        // display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        .add-todo-modale {
            width: 30%;
            height: 30%;
            background-color: rgba(255, 255, 255, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 2vh;
            padding: 2vw;
            border-radius: 0.5vw;
            border: solid 1px rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(5px);
            .add-modale-todo-title {
                height: 1.5vw;
                text-align: center;
                outline: none;
                border-radius: 0.3vw;
                font-size: 1.5vw;
                background-color: rgb(249, 251, 240);
            }
            .add-modale-todo-description {
                outline: none;
                border-radius: 0.3vw;
                font-size: 1.5vw;
                background-color: rgb(249, 251, 240);
            }
            .add-nodale-footer {
                display: flex;
                justify-content: space-between;
                .add-modale-user {
                    width: 50%;
                    outline: none;
                    background-color: rgb(249, 251, 240);
                    border-radius: 0.3vw;
                    font-size: 1vw;
                    // height: 30vh;
                }
                button {
                    width: 20%;
                    background-color: rgb(249, 251, 240);
                    border-radius: 0.3vw;
                    font-size: 1vw;
                }
            }
        }
        .edit-todo {
            display: none;
        }
    }
    .wrapper__add-todo-modale.edit {
        .edit-todo {
            display: flex;
        }
        .add-modale-confirm {
            display: none;
        }
    }
}
#trello__todo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    margin: auto;
    overflow: scroll;
    .todo-item {
        width: 23vw;
        padding: 0.5vw;
        font-size: 1.2vw;
        display: flex;
        flex-direction: column;
        background-color: rgba(215, 250, 215, 0.7);
        margin-top: 0.5vh;
        border-radius: 0.3vw;
        color: rgb(0, 60, 0);
        .todo-item-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .todo-item-title {
                width: 12vw;
                font-weight: bold;
            }
            button {
                color: rgb(0, 60, 0);
                font-size: 1vw;
                border: solid 1px rgba(255, 255, 255, 0.6);
                border-radius: 0.3vw;
                width: 5vw;
                height: 2.5vh;
            }
        }
        .todo-item-main {
            padding-top: 1vh;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .todo-item-description {
                max-width: 20vw;
                max-height: 10vh;
                overflow: scroll;
            }
            button {
                color: rgb(0, 60, 0);
                font-size: 1vw;
                border: solid 1px rgba(255, 255, 255, 0.6);
                border-radius: 0.3vw;
                width: 2vw;
                height: 100%;
            }
        }
        .todo-item-footer {
            padding-top: 1vh;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .todo-item-user {
                font-weight: 900;
            }
        }
    }
}
#trello__progress-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    margin: auto;
    overflow: scroll;
    .progress-item {
        width: 23vw;
        padding: 0.5vw;
        font-size: 1.2vw;
        display: flex;
        flex-direction: column;
        background-color: rgba(156, 154, 153, 0.7);
        margin-top: 0.5vh;
        border-radius: 0.3vw;
        color: rgb(33, 31, 31);
        .progress-item-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .progress-item-title {
                width: 12vw;
                font-weight: 900;
            }
            button {
                color: rgb(69, 69, 69);
                font-size: 1vw;
                border: solid 1px rgba(255, 255, 255, 0.6);
                border-radius: 0.3vw;
                width: 5vw;
                height: 2.5vh;
            }
        }
        .progress-item-main {
            padding-top: 1vh;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .progress-item-footer {
            padding-top: 1vh;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .progress-item-user {
                font-weight: 900;
            }
        }
    }
}
#trello__done-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    margin: auto;
    overflow: scroll;
    .done-item {
        width: 23vw;
        padding: 0.5vw;
        font-size: 1.2vw;
        display: flex;
        flex-direction: column;
        background-color: rgba(113, 122, 240, 0.8);
        margin-top: 0.5vh;
        border-radius: 0.3vw;
        color: rgb(33, 31, 31);
        .done-item-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .done-item-title {
                width: 12vw;
            }
            button {
                color: rgb(34, 33, 33);
                font-size: 1vw;
                border: solid 1px rgba(255, 255, 255, 0.6);
                border-radius: 0.3vw;
                width: 5vw;
                height: 2.5vh;
            }
        }
        .done-item-main {
            padding-top: 1vh;
            width: 100%;
            display: flex;
            justify-content: space-between;

        }
        .done-item-footer {
            padding-top: 1vh;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}
.add-modale-user {
    option:active {
        overflow: scroll !important;
        max-height: 100px;
    }
}